numpy
opencv-python
torch
torchvision
scipy
gdown
scikit-learn
h5py
six
pillow
yacs
tqdm
matplotlib
tensorboard
future
imageio
chardet
torchreid
git+https://github.com/SonySemiconductorSolutions/aitrios-rpi-application-module-library.git
psycopg2-binary
python-dotenv
qdrant-client
